.sharkpac {
    position: absolute;
    top: 42%;
    left: 6%;
    width: 36%;
    height: 12%;
    cursor: pointer;
}

.sharkgroup {
    position: absolute;
    top: 43%;
    right: 6%;
    width: 36%;
    height: 12%;
    cursor: pointer;
}
.sharkpac:hover,
.sharkgroup:hover {
    background: rgba(255, 0, 0, 0.3);
}